# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 40092ef57db043bf4a6ee3f3b07ea8d04d371d00bcc652d09a7781a949d7af52bb861b03a813784394ca4cd2717dd582201b321a2ad3fb989e98096c613222c0

test:
  secret_key_base: 4c38da3b40984ddc53e3a1e414f8c1307d53ecdc0b7500c69df44ef2dd4e84637ab5f938649a59dcce597e6ca962276a15b291228454c4df619ee607c4a1436c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
