// Base colors
$gray: #868686;
$neutral-gray: #ddd;
$light-gray: #e6e6e6;
$dark-green: #4b6265; 
$sea-green: #25abb7;

// Elements
$primary: #abb7b7;
$secondary: #e0e5e5;
$default-text: #272727;
$title-link: #453f3c;
$footer-text: #777;

// Buttons
$btn-main: $dark-green;
$btn-normal: $sea-green;

// Category colors
$category-general: $primary;
$category-front-end: #96c974;
$category-back-end: #ff7373;
$category-design: #f2d373;
