$primary: #abb7b7;
$secondary: #e0e5e5;
$default-text: #272727;
$title-link: #453f3c;
$light-gray: #e6e6e6;
$gray: #868686;
$dark-green: #4b6265; 
$btn-main: $dark-green;
$btn-normal: #748888;

// Category Colors
$category-general: #25abb7;
$category-front-end: #96c974;
$category-back-end: #ff7373;
$category-design: #f2d373;
