@import 'colors';
@import 'vars';

.back-to-forum-link {
	text-decoration: none;
}

.general {
	color: white;
	background: $category-general;

	@media only screen and (max-width: $breakpoint-tablet) {
		background: initial;
		color: $category-general;
		font-weight: 700;
	}
}

.front-end {
	color: white;
	background: $category-front-end;

	@media only screen and (max-width: $breakpoint-tablet) {
		background: initial;
		color: $category-front-end;
		font-weight: 700;
	}
}

.back-end {
	color: white;
	background: $category-back-end;

	@media only screen and (max-width: $breakpoint-tablet) {
		background: initial;
		color: $category-back-end;
		font-weight: 700;
	}
}

.design {
	color: white;
	background: $category-design;

	@media only screen and (max-width: $breakpoint-tablet) {
		background: initial;
		color: $category-design;
		font-weight: 700;
	}
}

time {
	margin-right: .4rem;
}

.avatar-wrap {
	float: left;

	@media only screen and (max-width: $breakpoint-tablet) {
		display: none;
	}
}

.avatar {
	border-radius: 50%;
	@include size(48px);
}

h1.forum-post-title {
	font-size: 3rem;
	margin-top: .67em;

	@media only screen and (max-width: $breakpoint-tablet) {
		font-size: 2rem;
	}
}

#forum-post,
.post-wrap,
.reply-wrap {
	@extend %clearfix;
	padding: 1.7em 0;
	border-bottom: 1px solid $light-gray;

	.post-content {
		.responsive {
			display: none;
		}

		.post-description {
			margin-top: .5em;
			margin-bottom: 0;
			letter-spacing: 0;
			color: $gray;
			font-size: .85rem;

			.author {
				&:hover {
					color: $sea-green;
				}

				text-decoration: none;
			}

			.category-tag {
				text-transform: uppercase;
				padding: .6em 1em;
				font-size: .6rem;
				letter-spacing: .15em;
				border-radius: 1.5em;
				display: inline-block;
				vertical-align: middle;
				margin-left: .4rem;
				
				a {
					text-decoration: none;

					&:hover {
						color: inherit;
					}
				}
			}
		}

		@media only screen and (max-width: $breakpoint-tablet) {
			.post-description {
				display: none;
			}

			.responsive {
				display: block;
				line-height: 1.4;

				.category-tag {
					text-transform: none;
					padding: 0;
					font-size: inherit;
					letter-spacing: initial;
					border-radius: 0;
					vertical-align: initial;
					margin-left: 0;
				}
			}
		}
	}
}

.reply-wrap {
	.post-content {
		@media only screen and (max-width: $breakpoint-tablet) {
			.post-description {
				display: block;
			}
		}
	}
}

#forum-post,
.reply-wrap {
	.post-content {
		margin-left: 4.5rem;

		.post-description {
			margin: 0;
			font-size: .9rem;
			color: darken($gray, 20%);

			i {
				float: right;
				line-height: 22px;
			}
		}

		.post-body {
			line-height: 1.5;
			
			p,
			pre {
				margin-bottom: 0;
			}
		}

		@media only screen and (max-width: $breakpoint-tablet) {
			margin-left: 0;

			.post-description {
				margin-bottom: 1.3rem;
			}
		}
	}
}

#forum-post {
	padding-top: 0;
}

.reply-wrap {
	&:target {
		background-color: $cream;
		padding: 1.7rem;
	}
}

.post-wrap {
	@include display(flex);
	@include align-items(center);

	.avatar-wrap,
	.post-reply-count {
		@include flex(none);

		@media only screen and (max-width: $breakpoint-tablet) {
			display: none;
		}
	}

	.avatar-wrap {
		margin-right: rem(23.984px);
	}

	.post-content {
		@include flex(1);

		.forum-post-title {
			margin: 0;
			color: $title-link;
			font-weight: 400;
			letter-spacing: -.02em;

			a {
				text-decoration: none;
				//@include transition(all .2s ease-in-out);

				&:hover {
					//padding-left: 5px;
					color: $sea-green;
				}
			}
		}

		.post-description {
			.author {
				font-weight: 400;
			}
		}
	}

	.post-reply-count {
		text-align: center;
		margin-left: 1rem;
		color: $dark-green;
		font-size: 0.9rem;
	}
}
