@import 'colors';

.general {
	background: $category-general;
}

.front-end {
	background: $category-front-end;
}

.back-end {
	background: $category-back-end;
}

.design {
	background: $category-design;
}

.post-wrap {
	@extend %clearfix;
	@include display(flex);
	@include align-items(center);
	padding: 1.3em 0;
	border-bottom: 1px solid $light-gray;

	.avatar-wrap,
	.post-reply-count {
		@include flex(none);
	}

	.avatar {
		border-radius: 50%;
		@include size(48px);
	}

	.avatar-wrap {
		margin-right: 2rem;
	}

	.post-content {
		@include flex(1);

		h2 {
			margin: 0;
			color: $title-link;
			font-size: 1.8em;
			font-weight: 400;
			letter-spacing: -.02em;

			a {
				text-decoration: none;
				@include transition(all .2s ease-in-out);

				&:hover {
					padding-left: 5px;
				}
			}
		}

		p {
			margin-top: .5em;
			margin-bottom: 0;
			letter-spacing: .01em;
			color: $gray;

			.author {
				text-decoration: none;
			}

			.category-tag {
				color: white;
				text-transform: uppercase;
				padding: .6em 1em;
				font-size: .6rem;
				letter-spacing: .15em;
				border-radius: 1.5em;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	.post-reply-count {
		text-align: center;
		font-size: 1.1rem;
	}
}
