/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import 'bourbon';
@import 'normalize';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'home';
@import 'forum_post';
@import 'form';

html {
	box-sizing: border-box;
	height: 100vh;
	height: 100%;
}

* {
	box-sizing: inherit;

	&:before,
	&:after {
		box-sizing: inherit;
	}
}

a {
	color: inherit;
}

body {
	font-family: 'Questrial', sans-serif;
	color: $default-text;
	@include display(flex);
	@include flex-direction(column);
	height: 100vh;
	height: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
}

.text-center {
	text-align: center;
}

.float-right {
	float: right;
}

.text-muted {
	color: $gray;
}

/*
  ========================================
  PLACE HOLDERS
  ========================================
*/
%clearfix {
	zoom: 1;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

/*
  ========================================
  BUTTONS
  ========================================
*/
.btn {
	@include transition(all 300ms);
	text-decoration: none;
	background: $btn-normal;
	display: inline-block;
	color: white;

	&:hover {
		background: darken($btn-normal, 15%);
	}
}

.btn-lg {
	padding: 1.4rem 2rem;
	font-size: 1.2rem;
	border-radius: .2em;
}

.btn-md {
	padding: rem(14px) 1.4rem;
	border-radius: .2em;
}

/*
  ========================================
	PAGES
  ========================================
*/
.page-wrap {
	margin: 4rem 0 6rem 0;
	@include flex(1 0 auto);
}

.section-title {
	font-size: 2.4rem;
	margin-bottom: 2.2rem;
	margin-top: 0;
}

.control-btn-group {
	@extend %clearfix;
	position: relative;
	margin-bottom: 2rem;

	#new-post-btn {
		float: right;
		margin-right: 194px;
	}
}

/*
  ========================================
	HEADER
  ========================================
*/
header {
	@extend %clearfix;
	@include flex(none);
	padding: 1rem 0;
	border-bottom: 1px solid $light-gray;

	a {
		text-decoration: none;

		&:hover {
			color: $btn-normal;
		}
	}

	.navbar-brand {
		float: left;
		text-transform: uppercase;
		font-size: 1.4em;
		letter-spacing: -1px;
		font-weight: 700;
	}

	nav {
		float: right;

		ul {
			list-style: none;
			margin: 0;

			li {
				display: inline-block;

				a {
					margin-left: 20px;
					line-height: 23px;
				}
			}
		}
	}

	.navbar-toggle {
		float: right;
		display: none;
	}
}

/*
  ========================================
	FOOTER
  ========================================
*/
footer {
	@include flex(none);
	text-align: center;
	background: $default-text;
	color: $footer-text;
	padding: 1rem 0;
	
	.copyright-wrap {
		float: left;

		.copyright {
			display: inline;
		}
	}

	.social-wrap {
		text-align: right;

		a {
			margin-left: 10px;

			&:hover {
				color: white;
			}
		}
	}

	p {
		font-size: .9rem;
		
		a {
			text-decoration: none;
		}
	}
}

/*
  ========================================
	PAGINATION
  ========================================
*/
.pagination {
	display: inline-block;
	margin: 2rem 0;

	a,
	em,
	span {
		border: 1px solid $neutral-gray;
		float: left;
		font-size: 1rem;
		padding: 6px 12px;
		line-height: 1.5;
		text-decoration: none;
		margin-left: -1px;
	}

	.gap {
		cursor: not-allowed;
	}

	a {
		&:hover {
			color: $sea-green;
		}
	}

	.disabled {
		color: $gray;
		cursor: not-allowed;
	}

	em {
		font-style: normal;
	}
	
	.current {
		background: $sea-green;
		color: white;
	}
}

/*
  ========================================
	CATEGORY DROPDOWN
  ========================================
*/
#category-dropdown-wrap {
	display: inline-block;
	border: 1px solid $neutral-gray;
	padding: rem(13px) 1.4rem;
	border-radius: .2rem;
	cursor: pointer;
	position: absolute;
	background: white;
	z-index: 999;
	//margin-left: 1rem;
	right: 0;

	&:focus {
		outline: none;
	}

	p {
		margin: 0;
		margin-right: 2rem;

		i {
			color: $gray;
			margin-left: 2rem;
			position: absolute;
			top: rem(13px);
			right: 1.4rem;
		}
	}

	a {
		text-decoration: none;
		display: block;
		color: $gray;

		&:hover {
			color: $sea-green;
		}
	}

	ul {
		list-style: none;
		max-height: 0;
		overflow: hidden;
		background: white;
		padding: 0;
		margin: 0;
		@include transition(all .3s ease-in-out);

		li {
			padding: 8px 0 8px 8px;
		}
	}

	.dropdown-collapse-toggle {
		display: block;
		overflow: auto;
		max-height: calc(4 * 2rem + 4rem);
		margin-top: 1rem;
	}
}

/*
  ========================================
	SEARCH FIELD
  ========================================
*/
.search-form {
	//float: right;
	display: inline-block;

	input[type="Search"] {
		padding: rem(13px) 1.4rem;
		border: 1px solid $neutral-gray;
		border-radius: .2rem;
		outline: none;
	}
}

/*
  ========================================
	FLASH
  ========================================
*/
#flash-wrap {
	@include flex(none);
}
