<p class="reply-description">
	Posted by <%= get_author(forum_reply) %> <%= time_ago_in_words forum_reply.created_at %> ago

	<% if current_user?(forum_reply.user) %>
		| <%= link_to 'Edit', edit_forum_post_forum_reply_path(forum_reply.forum_post, forum_reply) %>
	<% end %>
</p>

<p class="reply-body"><%= forum_reply.body %></p>
