<div id="reply-form">
	<%= form_for [@forum_post, @forum_reply] do |f| %>
		<%= render 'shared/errors', object: @forum_reply %>

		<%= f.text_area :body, rows: 10, placeholder: 'Add a reply' %>
		<%= f.submit %>
	<% end %>
</div>
