<footer>
	<div class="container">
		<div class="copyright-wrap">
			<p class="copyright">
				&copy; 2015 Jin Pae.
			</p>
		</div>

		<div class="social-wrap">
			<%= link_to 'https://github.com/jinpae/tiny_vessel', target: '_blank' do %>
				<i class="fa fa-github"></i><% end %>

			<%= link_to 'https://twitter.com/jinpae', target: '_blank' do %>
				<i class="fa fa-twitter"></i><% end %>

			<%= link_to 'https://instagram.com/movidos', target: '_blank' do %>
				<i class="fa fa-instagram"></i><% end %>

			<%= link_to 'https://www.linkedin.com/in/jinpae', target: '_blank' do %>
				<i class="fa fa-linkedin-square"></i><% end %>
		</div>
	</div>
</footer>
